@import "./splash.scss";

#profile-friend-section {
    background-color: white;
    width: 800px;
    border-radius: 10px;
    box-shadow: 0px 0px 3px 0px rgba(189, 195, 199, .4);
    box-sizing: border-box;
    padding: 30px;
    display: none;
}

.friend-section-heading {
    font-size: 20px;
    text-overflow: ellipsis;
}

.profile-friend-list {
    display: flex;
    margin-top: 20px;
    width: 100%;
    justify-content: space-between;
}

#no-friends {
    display: block;
    width: 100%;
    text-align: center;
    color: #808080;
    margin-top: 20px;
}

.profile-friend-list-item {
    display: flex;
    width: 49%;
    border: 1px solid lightgray;
    border-radius: 10px;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 10px;

    button {
        padding: 10px;
        box-sizing: border-box;
        border-radius: 10px;
        font-size: 15px;
    }

    #add-friend-button {
        background-color: $blue;
        color: white;
    }

    #respond-button {
        background-color: #c6dde4;
        color: $blue;

        &:hover {
            background-color: #B2C6CD;
        }
    }
}

.friend-item-heading {
    display: flex;
    align-items: center;
    font-weight: bold;

    span:hover {
        text-decoration: underline;
    }

    img {
        height: 70px;
        width: 70px;
        border-radius: 5px;
        margin-right: 10px;

        &:hover {
            filter: brightness(1);
        }
    }
}

.friend-section-dropdown-menu {
    button {
        padding: 5px;
        border-radius: 100%;
        background-color: white;

        &:hover {
            background-color: #f2f2f2
        }
    }
}

.friend-section-dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0px 3px 7px 0px rgba(189, 195, 199, .4);
    width: 200px;
    border-radius: 7px;
    transform: translateY(20%);

    div {
        display: flex;
        flex-direction: column;
        padding: 10px;

        button {
            text-align: left;
            border-radius: 10px;
            padding: 10px;
            background-color: white;

            i {
                margin-right: 10px;
            }

            &:hover {
                background-color: #f2f2f2;
            }
        }
    }
}