@import "./splash.scss";

.chatroom-container {
    background-color: white;
    width: 300px;
    border-radius: 10px;
    margin-left: 20px;
    box-shadow: 0px 0px 7px 0px rgba(189, 195, 199, .4);
    height: 400px;
    z-index: 1;
    display: none;
}

.chat-section {
    display: flex;
    bottom: 0;
    right: 5%;
    position: fixed;
}

.chat-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
    box-shadow: 0px 3px 5px 0px rgba(189, 195, 199, .4);
    padding: 10px;

    #chat-friend-info {
        display: flex;
        align-items: center;
    }

    img {
        height: 40px;
        width: 40px;
        border-radius: 100%;
        margin-right: 10px;
        object-fit: cover;
    }

    i {
        padding: 10px;
        box-sizing: border-box;
    }
}

.message-list {
    height: 280px;
    width: 100%;
    overflow-y: scroll;
    padding: 20px;
    box-sizing: border-box;
}

.chat-body {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chat-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    input {
        width: 90%;
        font-size: 15px;
        background-color: #f2f2f2;
        border: none;
        border-radius: 50px;

        &:focus {
            outline: none;
        }
    }
}

.message-item {
    margin-bottom: 10px;
    display: flex;
    font-size: 15px;

    .message-content {
        border-radius: 30px;
        box-sizing: border-box;
        padding: 20px;
        width: fit-content;
        display: flex;
        align-items: flex-start;
    }

    img {
        width: 25px;
        height: 25px;
        border-radius: 100%;
        margin-right: 5px;
        object-fit: cover;
    }
}

#friend-message {
    background-color: lightgrey;
}

#current-user-message {
    background-color: $blue;
    color: white;
}

#current-user-message-item {
    justify-content: flex-end;
}

.current-chat {
    color: $blue;
}

#chat-friend-name {
    &:hover {
        text-decoration: underline;
        cursor: pointer;
    }
}