@import "./splash.scss";

.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    box-shadow: 0px 3px 7px 0px rgba(189, 195, 199, .4);
    box-sizing: border-box;
    padding: 0 10px 0;
    height: 60px;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1;

    button {
        border: none;
        background-color: #e6e6e6;
        border-radius: 100%;
        width: 40px;
        height: 40px;

        &:hover {
            background-color: #cccccc;
        }
    }

    #profile-button {
        width: 100%;
        height: 100%;
        border-radius: 30px;
        background-color: transparent;
        display: flex;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        padding: 5px;
        
        &:hover {
            background-color: #f2f2f2;
        }

        img {
            height: 30px;
            width: 30px;
            border-radius: 100%;
            margin-right: 10px;
            object-fit: cover;
        }

        span {
            padding-right: 10px;
        }
    }

    input[type=text] {
        font-size: 15px;
        padding: 10px;
        border-radius: 30px;
        margin: 10px;
    }

    .focus {
        background-color: #c6dde4;
        color: $blue;

        &:hover {
            background-color: #c6dde4;
        }
    }
}

.navbar-buttons {
    display: flex;
    margin: 10px;
    align-items: center;

    button {
        margin-left: 10px;
    }
}

.main-dropdown-menu, .notifications-dropdown-menu{
    position: relative;
}

.main-dropdown-content, .notifications-dropdown-content {
    transform: translate(-85%, 7px);
    box-sizing: border-box;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    position: absolute;
    z-index: 1;
    display: none;
    box-shadow: 0px 3px 7px 0px rgba(189, 195, 199, .4);
    width: 350px;

    * {
        display: flex;
    }

    img {
        width: 50px;
        height: 50px;
        border-radius: 100%;
        object-fit: cover;
    }

    #dropdown-profile-link {
        text-decoration: none;
        width: 100%;
        box-sizing: border-box;
        padding: 10px;
        border-radius: 10px;
         
        &:hover {
            background-color: #f2f2f2;
        }
    }

    #profile-link-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 20px;

        span {

            &:first-child {
                font-size: 20px;
                font-weight: bold;
                margin-bottom: 10px;
                color: black;
            }

            &:last-child {
                color: grey;
            }
        }
    }

    > div {
        display: flex;
        align-content: center;
        margin-bottom: 20px;
    }

    #logout-button {
        display: flex;
        align-items: center;
        box-sizing: border-box;
        padding: 10px;
        width: 100%;
        height: 100%;
        background-color: transparent;
        border-radius: 10px;
        margin-left: 0;

        &:hover {
            background-color: #f2f2f2;
        }

        span {
            margin-left: 20px;
        }
    }

    #dropdown-separator {
        border: 1px solid #e6e6e6;
    }

}

.middle-icons {
    width: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;

    button {
        width: 30%;
        height: 100%;
        background-color: transparent;
        border-radius: 0px;
        border-top: 2px solid white;
        border-bottom: 2px solid white;

        &:hover {
            background-color: #f2f2f2;
            border-radius: 10px;
       }
    }
    
    a {
        width: 30%;
        display: flex;
        justify-content: center;
        box-sizing: border-box;
        padding: 10px;

        &:hover {
            background-color: #f2f2f2;
            border-radius: 10px;
       }

        img {
            width: 35px;
            height: 35px;
        }
    }
}

:disabled {
    pointer-events: none;
}

.current-url {
    color: $blue;
}

.notifications-dropdown-content {
    padding: 10px;
}

#newsfeed-nav-icon.current-url {
    border: none;
    border-bottom: 2px solid $blue;
}

#profile-button.current-url {
    background-color: #c6dde4;
}

// #notifications-dropdown-content {
//     background-color: white;
//     position: absolute;
//     width: 280px;
// }

.notification-dropdown-content {
    display: flex;
    flex-direction: column;
}

.friend-request-list {
    display: flex;
    flex-direction: column;
}

#list-notification-item {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 15px;
    font-size: 15px;
    border-radius: 10px;

    &:hover {
        background-color: #f2f2f2;
    }

    div {
        width: 100%;
        justify-content: space-between;
        align-items: center;

        button {
            width: 50%;
            justify-content: center;
            align-items: center;
            border-radius: 10px;
            font-weight: bold;
        }
    }

    #confirm-request-button {
        background-color: $blue;
        color: white;

        &:hover {
            background-color: #146cd9;
        }
    }

    #requestor-information {
        display: flex;
        padding: 0;
        margin-bottom: 20px;

        img {
            margin-right: 10px;
            object-fit: cover;

            &:hover {
                filter: brightness(0.8)
            }
        }
    }
}

#no-notifications {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    margin: 0;
    color: grey;
    display: flex;
    justify-content: center;
}

.search-form-div {
    display: flex;
    align-items: center;
    width: 300px;

    img {
        width: 40px;
        height: 40px;
        opacity: 1;
        transition: width 0.2s;
    }
}