.newsfeed {
    display: flex;
    flex-direction: column;
    align-items: center;

    .newsfeed-post-form {
        display: flex;
        width: 700px;
        padding: 30px;
        background-color: white;
        border-radius: 7px;
        margin-bottom: 30px;
        box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.4);

        img {
            width: 50px;
            border-radius: 100%;
            margin-right: 20px;
        }

        #create-post-form-button {
            width: 100%;
            border-radius: 30px;
            padding-left: 30px;
            text-align: left;
            color: grey;

            &:hover {
                background-color: #f2f2f2;
            }
        }
    }

    .post-list {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}