@import "./splash.scss";

.newsfeed, .profile-wall {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
    width: 100%;
}

#white-rectangle {
    width: 900px;
    height: 60px;
    background-color: white;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 230px;
}

#profile-picture {
    width: 250px;
    height: 250px;
    border-radius: 100%;
    position: absolute;
    transform: translateY(-80%);
    border: 10px solid white;
}

#profile-summary {
    width: 900px;
    background-color: white;
    display: flex;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;

    h1 {
        font-size: 30px;
        margin-bottom: 20px;
    }

    button {
        padding: 10px;
        font-size: 15px;
        border-radius: 10px;

        &:hover {
            background-color: #cccccc;
        }

        i {
            margin-right: 10px;
        }
    }

    #friends-approved {
    background-color: $blue;
    color: white;

        &:hover {
            background-color: #146cd9;
        }
    }
}

.session-form .picture-input {
    width: 100%;
    margin: 0 0 15px;
}

#edit-profile-header {
    width: 100%;
    display: flex;
    flex-direction: column;

    h1 {
        font-size: 20px;
        width: 100%;
        text-align: center;
    }

    div {
        display: flex;
        align-items: center;

        &:last-child {
            border: 1px solid lightgrey;
            margin: 20px 0 10px;
            width: 100%;
        }
    }

    button {
        width: 30px;
        height: 30px;
        border-radius: 100%;
        padding: 0;
        margin: 0;
        background-color: lightgray;

        &:hover {
            background-color: #cccccc;
        }

        i {
            color: grey;
        }
    }
}

.friend-request-dropdown {
    position: relative;
    margin: 0;
}

#friend-request-content {
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0px 5px 7px 0px rgba(0,0,0,0.2);
    width: 200px;
    border-radius: 10px;
    transform: translateY(20%);

    div {
        display: flex;
        flex-direction: column;
        padding: 10px;

        button {
            text-align: left;
            margin: 0;
            background-color: white;

            &:hover {
                background-color: #f2f2f2;
            }
        }
    }
}

#profile-post-section {
    display: block;
}
