@import "./splash.scss";

.profile-wall {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.newsfeed {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.newsfeed-scroll {
    margin-left: 20%;
    width: 55%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.newsfeed-links {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    width: 15%;
    position: fixed;

    a {
        padding: 5px;
        box-sizing: border-box;
        margin-bottom: 10px;
        width: 100%;
        display: flex;
        align-items: center;
        font-weight: bold;
        text-decoration: none;
        color: black;

        img {
            object-fit: cover;
        }

        &:hover {
            border-radius: 10px;
            background-color: #e6e6e6;
            cursor: pointer;
        }
    }

    img {
        width: 40px;
        height: 40px;
        border-radius: 100%;
        margin-right: 20px;
    }
}

.newsfeed-friends-list {
    width: 20%;
    box-sizing: border-box;
    padding-right: 20px;
    position: fixed;
    left: 80vw;

    ul {
        overflow-y: scroll;
        height: 84vh;
    }

    > div {
        font-size: 18px;
        font-weight: bold;
        color: grey;
        padding-bottom: 20px;
        margin-bottom: 20px;
        border-bottom: 1px solid lightgray;
        pointer-events: none;
    }

    div {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        padding: 10px;
        box-sizing: border-box;

        &:hover {
            background-color: #e6e6e6;
            border-radius: 10px;
        }

        img {
            width: 40px;
            height: 40px;
            border-radius: 100%;
            margin-right: 10px;
            object-fit: cover;
        }
    }
}

#newsfeed-no-friends {
    border: none;
    width: 100%;
    justify-content: center;
    color: grey;
    font-weight: 400;
    font-size: 15px;
}

.profile-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 50px;
}

#profile-picture {
    width: 250px;
    height: 250px;
    border-radius: 100%;
    position: absolute;
    transform: translateY(-75%);
    border: 10px solid white;
    object-fit: cover;
}

#white-background {
    width: 100%;
    margin-bottom: 30px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 3px 7px 0px rgba(189, 195, 199, .4);
}

#profile-summary {
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
        font-size: 30px;
        margin-bottom: 20px;
        text-align: center;
        margin-top: 25px;
    }
}

.session-form .picture-input {
    width: 100%;
    margin: 0 0 15px;
}

#edit-profile-header {
    width: 100%;
    display: flex;
    flex-direction: column;

    h1 {
        font-size: 20px;
        width: 100%;
        text-align: center;
    }

    div {
        display: flex;
        align-items: center;

        &:last-child {
            border: 1px solid lightgrey;
            margin: 20px 0 10px;
            width: 100%;
        }
    }

    button {
        width: 30px;
        height: 30px;
        border-radius: 100%;
        padding: 0;
        margin: 0;
        background-color: lightgray;

        &:hover {
            background-color: #e6e6e6;;
        }

        i {
            color: grey;
        }
    }
}

.profile-buttons {
    display: flex;

    button {
        margin-right: 10px;

        &:hover {
            cursor: pointer;
        }
    }
}

.friend-request-content {
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0px 3px 7px 0px rgba(189, 195, 199, .4);
    width: 200px;
    border-radius: 10px;
    transform: translateY(20%);

    div {
        display: flex;
        flex-direction: column;
        padding: 10px;

        button {
            text-align: left;
            margin: 0;
            background-color: white;

            &:hover {
                background-color: #f2f2f2;
            }
        }
    }
}

.profile-buttons-and-links {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0 20px 0;
    box-sizing: border-box;
    justify-content: space-between;
    border-top: 1px solid lightgrey;
    position: relative;
    margin: 0;

    button {
        padding: 10px;
        font-size: 15px;
        border-radius: 10px;

        &:hover {
            background-color: #e6e6e6;;
        }

        i {
            margin-right: 10px;
        }
    }

    .profile-links {
        display: flex;
        align-items: center;

        a {
            padding: 10px;
            margin: 0 0 0 20px;
            color: #545454;
            border-top: 3px solid white;
            border-bottom: 3px solid white;
            text-align: center;
            height: 30px;
            line-height: 30px;

            &:hover {
                background-color: #f2f2f2;
                border-radius: 10px;
            }
        }

        .displayed {
            color: $blue;
            border: none;
            border-top: 3px solid white;
            border-bottom: 3px solid $blue;

            &:hover {
                background-color: white;
                border-top: 3px solid white;
                border-bottom: 3px solid $blue;
                border-radius: 0;
            }
        }
    }
}

#profile-message-button {
    background-color: $blue;
    color: white;

        &:hover {
            background-color: #146cd9;
        }
}

.profile-cover-photo {
    position: relative;
    width: 55%;

    img {
        width: 100%;
        height: 350px;
        object-fit: cover;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        position: relative;
        object-fit: cover;
    }
}

#cover-photo-input {
    display: none;
}

#cover-photo-form {
    position: absolute;
    right: 2%;
    bottom: 0;
}

#cover-photo-button {
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    font-size: 15px;
    font-weight: bold;

    i {
        margin-right: 10px;
    }

    &:hover {
        background-color: #f2f2f2;
        cursor: pointer;
    }
}

#cover-photo-default {
    width: 100%;
    height: 350px;
    background-image: linear-gradient(white, grey);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

#no-posts {
    color: grey;
    margin-top: 20px;
}

#profile-post-section {
    width: 55%;
}
