.post-form {
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 450px;
    box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.2);
    border-radius: 10px;


    img {
        width: 50px;
        border-radius: 100%;
    }

    .current-user-info {
        display: flex;
        align-items: center;
        font-size: 18px;
        margin: 20px 20px 0px;

        * {
            margin-right: 10px;
        }
    }

    textarea {
        border: none;
        font-family: inherit;
        font-size: 20px;
        padding: 10px;
        margin: 20px 20px 20px;
        height: 100px;
        vertical-align: text-top;
        resize: none;

        &:focus {
            outline: none;
        }
    }

    button {
        background-color: $blue;
        border: none;
        color: white;
        font-size: 18px;
        font-weight: 600;
        border-radius: 7px;
        padding: 10px;
        margin: 20px 20px 20px;

        &:disabled {
            background-color: grey;
        }
    }
}

.picture-input {
    display: flex;
    align-items: center;
    margin: 20px 50px 20px;
    justify-content: space-between;
    border: 1px solid lightgrey;
    box-sizing: border-box;
    padding: 20px;
    border-radius: 10px;

    input[type=file] {
        display: none;
    }

    i {
        color: grey;
    }

    .green-icon {
        color: #42B72A;
    }
}

.post-form-heading {
    border-bottom: 1px lightgrey solid;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 20px 0;

    h1 {
        text-align: center;
        padding: 20px;
        font-size: 20px;
    }

    i {
        border: none;
        background-color: lightgrey;
        border-radius: 100%;
        margin-left: 27%;
        padding: 5px 10px 5px;
        color: grey;

        &:hover {
            background-color: #cccccc;
        }
    }
}

.post-item {
    background: white;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    width: 760px;
    border-radius: 10px;
    box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.4);

    #post-details {
        display: flex;
        align-items: center;
        font-size: 20px;

        img {
            width: 50px;
            border-radius: 100%;
            margin-right: 20px;
        }
    }

    & > span {
        font-size: 18px;
        margin: 20px 30px 30px;
    }

    .post-header {
        display: flex;
        justify-content: space-between;
        margin: 30px 30px 0;

        i {
            color: grey;
        }

        button {
            padding: 7px;
            border-radius: 100%;
            background-color: transparent;

            &:hover {
                background-color: #f2f2f2;
            }
        }

        #post-dropdown-menu {
            position: relative;
        }

        #post-dropdown-content {
            position: absolute;
            display: none;
            background-color: white;
            transform: translate(-70%);
            box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.2);
            border-radius: 5px;
            width: 150px;

            div {
                display: flex;
                flex-direction: column;
                padding: 5px;

                button {
                    text-align: left;
                    display: flex;
                    
                    &:hover {
                        border-radius: 5px;
                    }

                    .fa-edit {
                        margin-right: 10px;
                    }

                    .fa-trash-alt {
                        margin-right: 14px;
                    }
                }
            }
        }
    }
}

.create-post-form {
    display: flex;
    width: 700px;
    padding: 30px;
    background-color: white;
    border-radius: 7px;
    margin-bottom: 30px;
    box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.4);

    img {
        width: 50px;
        border-radius: 100%;
        margin-right: 20px;
    }

    #create-post-form-button {
        width: 100%;
        border-radius: 30px;
        padding-left: 30px;
        text-align: left;
        color: grey;

        &:hover {
            background-color: #f2f2f2;
        }
    }
}

.post-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}