.post-form {
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 450px;
    box-shadow: 0px 0px 15px 0px rgba(189, 195, 199, .4);
    border-radius: 10px;


    img {
        width: 50px;
        height: 50px;
        border-radius: 100%;
        object-fit: cover;
    }

    .current-user-info {
        display: flex;
        align-items: center;
        font-size: 18px;
        margin: 20px 20px 0px;

        * {
            margin-right: 10px;
        }
    }

    textarea {
        border: none;
        font-family: inherit;
        font-size: 20px;
        padding: 10px;
        margin: 20px 20px 20px;
        height: 100px;
        vertical-align: text-top;
        resize: none;

        &:focus {
            outline: none;
        }
    }

    button {
        background-color: $blue;
        border: none;
        color: white;
        font-size: 18px;
        font-weight: 600;
        border-radius: 7px;
        padding: 10px;
        margin: 20px 20px 20px;

        &:disabled {
            background-color: grey;
        }
    }
}

.picture-input {
    display: flex;
    align-items: center;
    margin: 20px 50px 20px;
    justify-content: space-between;
    border: 1px solid lightgrey;
    box-sizing: border-box;
    padding: 20px;
    border-radius: 10px;

    input[type=file] {
        display: none;
    }

    i {
        color: grey;
    }

    .green-icon {
        color: #42B72A;
    }
}

.post-form-heading {
    border-bottom: 1px lightgrey solid;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 20px 0;

    h1 {
        text-align: center;
        padding: 20px;
        font-size: 20px;
    }

    i {
        border: none;
        background-color: lightgrey;
        border-radius: 100%;
        margin-left: 27%;
        padding: 5px 10px 5px;
        color: grey;

        &:hover {
            background-color: #cccccc;
        }
    }
}

.post-item {
    background: white;
    display: flex;
    flex-direction: column;
    align-content: center;
    margin-bottom: 20px;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0px 3px 7px 0px rgba(189, 195, 199, .4);

    > img {
        margin: 10px 0 10px;
    }

    #post-details {
        display: flex;
        align-items: center;
        font-size: 18px;

        #post-author-details {
            display: flex;
            align-items: center;
            
            span {
                max-width: 550px;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
                line-height: 20px;
            }
        }

        #post-created-at {
            margin-top: 5px;
            font-size: 15px;
            color: gray;
        }

        img {
            width: 50px;
            height: 50px;
            border-radius: 100%;
            margin-right: 20px;
            object-fit: cover;
        }

        span {
            font-weight: bold;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;

            &:hover {
                text-decoration: underline;
                cursor: pointer;
                
            }
        }

        #post-profile-info {
            margin-left: 10px;

            i {
                color: #333333;
                margin-right: 10px;
            }
        }
    }

    > span {
        font-size: 18px;
        margin: 20px 15px 5px;
        overflow-wrap: break-word;
    }

    .post-header {
        display: flex;
        margin: 15px 15px 0;
        justify-content: space-between;

        i {
            color: grey;
        }

        button {
            padding: 7px;
            border-radius: 100%;
            background-color: transparent;

            &:hover {
                background-color: #f2f2f2;
            }
        }

        .post-dropdown-menu {
            position: relative;
        }

        .post-dropdown-content {
            position: absolute;
            display: none;
            background-color: white;
            transform: translate(-70%);
            box-shadow: 0px 3px 7px 0px rgba(189, 195, 199, .2);
            border-radius: 5px;
            width: 150px;

            div {
                display: flex;
                flex-direction: column;
                padding: 5px;

                button {
                    text-align: left;
                    display: flex;
                    
                    &:hover {
                        border-radius: 5px;
                    }

                    .fa-edit {
                        margin-right: 10px;
                    }

                    .fa-trash-alt {
                        margin-right: 14px;
                    }
                }
            }
        }
    }
}

.create-post-form {
    display: flex;
    width: 100%;
    box-sizing: border-box;
    padding: 30px;
    background-color: white;
    border-radius: 10px;
    margin-bottom: 30px;
    box-shadow: 0px 0px 15px 0px rgba(189, 195, 199, .4);

    img {
        width: 50px;
        height: 50px;
        border-radius: 100%;
        margin-right: 20px;
        object-fit: cover;
    }

    #create-post-form-button {
        width: 100%;
        border-radius: 30px;
        padding: 10px 30px 10px;
        text-align: left;
        color: grey;

        &:hover {
            background-color: #f2f2f2;
        }
    }
}

.post-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.post-icons {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    color: #656565;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    padding: 5px 0 5px;

    div {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 15px;
        width: 20%;
        border-radius: 20px;
        padding: 15px;

        &:hover {
            background-color: #f2f2f2;
            cursor: pointer;
        }

        * {
            margin: 0 5px 0;
        }
    }
}

.post-icons-outer-div {
    padding: 0 15px 0;
    box-sizing: border-box;
    margin-top: 20px;

    #comment, .like {
        width: 50%;
        padding: 10px;
    }
}

.post-counts {
    display: flex;
    justify-content: space-between;
    margin: 10px 15px 0 15px;
    font-size: 15px;
    color: grey;

    .post-comments:hover {
        text-decoration: underline;
        cursor: pointer;
    }
}

#comments-list {
    box-sizing: border-box;
    padding-right: 35px;
}

.show-comment-button {
    color: grey;
    margin-bottom: 15px;
    font-size: 15px;

    &:hover {
        text-decoration: underline;
        cursor: pointer;
    }
}