.post-form {
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 450px;
    box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.2);


    img {
        width: 50px;
        border-radius: 100%;
    }

    h1 {
        text-align: center;
        padding: 20px;
        border-bottom: 1px lightgrey solid;
        font-size: 20px;
    }

    #current-user-info {
        display: flex;
        align-items: center;
        font-size: 18px;
        margin: 20px 20px 0px;

        * {
            margin-right: 10px;
        }
    }

    textarea {
        border: none;
        font-family: inherit;
        font-size: 20px;
        padding: 10px;
        margin: 20px 20px 20px;
        height: 100px;
        vertical-align: text-top;
        resize: none;

        &:focus {
            outline: none;
        }
    }

    #picture-input {
        display: flex;
        align-items: center;
        margin: 20px 50px 20px;
        justify-content: space-between;

        input[type=file] {
            display: none;
        }

        i {
            color: #42B72A;
        }
    }

    button {
        background-color: $blue;
        border: none;
        color: white;
        font-size: 18px;
        font-weight: 600;
        border-radius: 7px;
        padding: 10px;
        margin: 20px 20px 20px;

        &:disabled {
            background-color: grey;
        }
    }


}