@import "./splash.scss";

.search-container {
    display: flex;
    align-items: flex-start;

    #search-heading {
        font-size: 23px;
        font-weight: bold;
        box-sizing: border-box;
        padding: 10px;
        border-bottom: 1px solid #cccccc;
    }
}

#search-side-menu {
    padding: 10px;
    width: 300px;
    height: 91vh;
    background-color: white;
    margin-right: 20%;
    position: fixed;
}

.search-results {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 40%;
}

.search-item {
    width: 750px;
    background-color: white;
    box-shadow: 0px 3px 7px 0px rgba(189, 195, 199, .4);
    margin-bottom: 20px;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    button {
        border-radius: 100%;
        padding: 10px;
    }
}

.search-item-user-info {
    display: flex;
    align-items: center;

    img {
        width: 70px;
        height: 70px;
        border-radius: 100%;
        margin-right: 20px;
        object-fit: cover;

        &:hover {
            filter: brightness(.9)
        }
    }

    span {
        font-weight: bold;

        &:hover {
            text-decoration: underline;
            cursor: pointer;
        }
    }
}

#search-item-send-request:hover {
    background-color: #e6e6e6;
}

#search-item-cancel-request, #search-item-confirm-request {
    background-color: #c6dde4;
    color: $blue;

    &:hover {
        background-color: #B2C6CD;
    }
}

#search-item-message:hover {
    background-color: #cccccc;
}

#search-form {
    button {
        display: none;
    }

    input[type=text] {
        border: none;
        background-color: #e6e6e6;
        border: 1px solid transparent;
        width: 80%;
        transition: all 0.5s;
        padding-left: 35px;

        &:focus {
            border: 1px solid grey;
            outline: none;
            width: 100%;
        }
    }

    i {
        position: absolute;
        transform: translate(20px, 22px);
        color: grey;
    }
}

#no-results {
    text-align: center;
    margin-top: 100px;
    font-size: 18px;
    color: grey;
    display: flex;
    flex-direction: column;
    padding-left: 100px;
    margin-left: 40%;

    span {
       margin-bottom: 10px;
       
       &:first-child {
           font-size: 20px;
           font-weight: bold;
       }
    }
}