@import "./splash.scss";

.search-results {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-item {
    width: 750px;
    background-color: white;
    box-shadow: 0px 3px 7px 0px rgba(189, 195, 199, .4);
    margin-bottom: 20px;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    button {
        border-radius: 100%;
        padding: 10px;
    }
}

.search-item-user-info {
    display: flex;
    align-items: center;

    img {
        width: 70px;
        height: 70px;
        border-radius: 100%;
        margin-right: 20px;
    }

    span {
        font-weight: bold;
    }
}

#search-item-send-request:hover {
    background-color: #e6e6e6;
}

#search-item-cancel-request {
    background-color: #c6dde4;
    color: $blue;

    &:hover {
        background-color: #B2C6CD;
    }
}

#search-form {
    button {
        display: none;
    }

    input[type=text] {
        border: none;
        background-color: #e6e6e6;
        border: 1px solid transparent;
        width: 80%;
        transition: 0.5s;

        &:focus {
            border: 1px solid lightgrey;
            outline: none;
            width: 100%;
        }
    }
}