@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;600;700&display=swap');

$logo-font: 'Titillium Web', sans-serif;
$blue: #1778F2;
$off-white: #F0F2F5;

html {
    background: $off-white;
    font-family: Arial, Helvetica, sans-serif;
}

#splash-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 10% 20% 0%;
    align-items: center;
    
    h1 {
        font-family: $logo-font;
        font-size: 58px;
        color: $blue;
        margin-bottom: 20px;
        font-weight: 700;
    }

    h3 {
        font-size: 28px;
        font-weight: 400;
        margin-bottom: 50px;
        line-height: 1.3;
    }
}


#logo-content {
    width: 400px;
}

#form-content {
    width: 400px;
    background-color: white;
    padding: 25px;
    border-radius: 7px;
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.2);
}

.session-form {
    display: flex;
    flex-direction: column;
    align-items: center;

    button {
        background-color: $blue;
        border: none;
        color: white;
        font-size: 18px;
        font-weight: 600;
        width: 100%;
        border-radius: 7px;
        padding: 15px;
        margin-bottom: 15px;

        &:hover {
            background-color: #0052A2;
        }
    }

    #signup-button {
        background-color: #42B72A;
        width: 60%;

        &:hover {
            background-color: #338333;
        }
    }

    #login-separator {
        border: 1px lightgrey solid;
        margin: 20px 0px 35px;
        width: 100%;
    }
}

input {
    border: 1px lightgrey solid;
    box-sizing: border-box;
    font-size: 18px;
    padding: 15px;
    border-radius: 7px;
    margin-bottom: 15px;
}

.modal-component {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  #signup-header {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    width: 100%;

    h1 {
        font-size: 30px;
        margin-bottom: 10px;
    }

    p {
        margin-bottom: 20px;
    }

    .fa-times {
        size: 3x;
    }
  }

  #first-name, #last-name {
      width: 48%;
  }

  #names-form {
      display: flex;
      justify-content: space-between;
  }
}

#email, #password {
    width: 100%;
}

.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.7);
  z-index: 10;
}

.errors {
    color:red;
    font-style: italic;
    font-size: 12px;
    margin-bottom: 20px;
    box-sizing: border-box;
    padding: 0 20px 0;

    li {
        margin-bottom: 10px;
        text-align: center;
        padding: 10px;
        background-color: rgba(255, 0, 0, 0.1);
        border-radius: 5px;
        border: 1px red solid;
    }
}

.error-field {
    border: 1px red solid;
}
